:root{
    --fundo:#B0C4DE;
    --cartao-frente:#708090;
    --cartao-verso:#87CEEB;
    --destaque:#4682B4;
    --preto:#000000;
    --branco:#ffffff;
    
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    background-color: var(--branco);
    position: fixed;
    bottom: 0;
    color: var(--destaque);
    width: 100%;
    text-align: center;
}